.form{
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    /* z-index: 100;
    right: -30rem;   
    top: 0;
    
    right: -30rem;
    background: #FFFFFF;
    transition: all 0.5s; */


    width: 30rem;
    height: 49rem;
    border: 0.0625rem solid grey; 
}
.formHeader{
    display: flex;
    justify-content: space-between;
    
}
.formBody{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.formBody__items{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.formBody__compositionOrder{
    width: 27rem;
    height: 10rem;
    margin-top: 2rem;
    border: 0.0625rem solid grey; 
}