.filter-row-expansion{
    display: flex;
    height: 5.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    background-color: var(--light-gray-blue-color);
}
.filter-row-expansion__date-entry{
    display: flex;
    flex-direction: column;
    width: 18rem;   
}